* {
    box-sizing: border-box;
}

html {
    background-color: #111;
}

body {
    margin: 0;
    padding: 0;

    background-color: #111;
    color: #fff;

    font-family: "Courier New", monospace;

    image-rendering: pixelated;
}

#root {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    min-height: 80vh;

    background-color: #111;
}

button,
input {
    font-family: "Courier New", monospace;
}

button {
    cursor: pointer;
}

a {
    font-family: "Courier New", monospace;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #00ff9d;
    border: 3px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc7d;
}

::selection {
    background-color: #00ff9d;
    color: #000;
}